@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --vp-c-brand-1: #db2777;
  --vp-c-brand-2: #e85d9e;
  --vp-c-brand-3: #db2777;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #f472b6 30%, #db2777);

  --vp-font-family-base: 'Rubik', sans-serif;
  --vp-font-family-mono: 'JetBrains Mono', monospace;

  --vp-c-bg: #fdfafb;
  --vp-c-bg-alt: #fff5f8;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #fcf0f4;
}

.dark {
  --vp-c-brand-1: #f472b6;
  --vp-c-brand-2: #e85d9e;
  --vp-c-brand-3: #db2777;

  --vp-home-hero-name-background: linear-gradient(120deg, #f472b6 30%, #db2777);

  --vp-c-bg: #141414;
  --vp-c-bg-alt: #1c1c1c;
  --vp-c-bg-elv: #242424;
  --vp-c-bg-soft: #242424;
}
